<?xml version="1.0" encoding="gbk"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	<!-- 缓存管理组件核心配置 -->
	<!-- redis 缓存开始 -->
	
<!-- 	<bean id="redisCacheManager" class="citic.gack.web.sso.base.cache.RedisCacheManager"> -->
<!-- 		<property name="cacheConfig" ref="configuration" /> -->
<!-- 		<property name="jdbcTemplate" ref="jdbcTemplate" />  -->
<!-- 		<property name="redisUtil" ref="redisUtil" ></property> -->
<!-- 	</bean>	 -->
<!-- 	<bean id="jedisPoolFactory" class="com.credithc.framework.redis.util.JedisPoolFactory"> -->
<!-- 		<property name="addressConfig"> -->
<!-- 			属性配置文件所在位置 -->
<!-- 			<value>classpath:property/redis-config.properties</value>   -->
<!-- 		</property> -->
<!-- 	</bean> -->
<!-- 	<bean id="redisUtil" class="com.credithc.framework.redis.util.RedisSingleUtil"> -->
<!-- 		<property name="jedisPoolFactory" ref="jedisPoolFactory"/> -->
<!-- 	</bean> -->
	<!-- redis 缓存结束 -->
	
	<!-- ehCache 缓存开始 -->
	<bean id="ehCacheManagerFactoryBean" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"> 
		<property name="configLocation"> <value>classpath:xml/ehcache-config.xml</value> </property> 
	</bean>
	<bean id="cacheManager" class="citic.gack.web.sso.base.cache.CacheManager" destroy-method="shutdown" init-method="initialize" lazy-init="false">
		<property name="cacheManager" ref="ehCacheManager" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="ehCacheManager" class="citic.gack.web.sso.base.cache.ECacheManager">
		<property name="ehCacheManager" ref="ehCacheManagerFactoryBean" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="cacheConfig" ref="configuration" />
	</bean>
	<!-- ehCache 缓存结束 -->


	<bean id="configuration" class="citic.gack.web.sso.base.cache.CacheConfig">
    	<property name="configuration">
			<list> 
				<!-- STATUS表的缓存，缓存id-list -->
<!-- 				<bean class="citic.gack.web.sso.base.cache.TableCacheConfig"> -->
<!-- 					<property name="cacheName" value="cprp.table.cache.idlist.enumerate" /> -->
<!-- 					<property name="sql" -->
<!-- 						value="select * from enumerate order by table_name, column_name, order_id" /> -->
<!-- 					<property name="cacheType" value="ID_LIST" /> -->
<!-- 					<property name="entityClass" value="com.credithc.report.common.entity.Enumerate" /> -->
<!-- 					<property name="keyProperty" value="tableName columnName" /> -->
<!-- 					<property name="configuration"> -->
<!-- 						<bean class="net.sf.ehcache.config.CacheConfiguration"> -->
<!-- 							<property name="maxElementsInMemory" value="10000" /> -->
<!-- 							<property name="eternal" value="false" /> -->
<!-- 							<property name="overflowToDisk" value="false" /> -->
<!-- 						</bean> -->
<!-- 					</property> -->
<!-- 				</bean> -->

				<!-- STATUS表的缓存，缓存id-value -->
<!-- 				<bean class="citic.gack.web.sso.base.cache.TableCacheConfig"> -->
<!-- 					<property name="cacheName" value="cprp.table.cache.idvalue.enumerate" /> -->

<!-- 					<property name="sql" -->
<!-- 						value="select concat(table_name,  '.', column_name, '.', sts_id) as value, sts_words as label from enumerate order by table_name, column_name, order_id" /> -->

<!-- 					<property name="cacheType" value="ID_VALUE" /> -->
<!-- 					<property name="configuration"> -->
<!-- 						<bean class="net.sf.ehcache.config.CacheConfiguration"> -->
<!-- 							<property name="maxElementsInMemory" value="10000" /> -->
<!-- 							<property name="eternal" value="false" /> -->
<!-- 							<property name="overflowToDisk" value="false" /> -->
<!-- 						</bean> -->
<!-- 					</property> -->
<!-- 				</bean> -->

				<!-- SYS_CONFIG表的缓存，缓存id-value -->
<!-- 				<bean class="citic.gack.web.sso.base.cache.TableCacheConfig"> -->
<!-- 					<property name="cacheName" value="cprp.table.cache.idvalue.sysconfig" /> -->
<!-- 					<property name="sql" -->
<!-- 						value="select sys_config_id as value, cur_value as label from sys_config" /> -->
<!-- 					<property name="cacheType" value="ID_VALUE" /> -->
<!-- 					<property name="configuration"> -->
<!-- 						<bean class="net.sf.ehcache.config.CacheConfiguration"> -->
<!-- 							<property name="maxElementsInMemory" value="10000" /> -->
<!-- 							<property name="eternal" value="false" /> -->
<!-- 							<property name="overflowToDisk" value="false" /> -->
<!-- 						</bean> -->
<!-- 					</property> -->
<!-- 				</bean>  -->
				
					<!-- SYS_CONFIG表的缓存，缓存id-value -->
<!-- 				<bean class="citic.gack.web.sso.base.cache.TableCacheConfig"> -->
<!-- 					<property name="cacheName" value="cprp.table.cache.idvalue.organization" /> -->
<!-- 					<property name="sql" -->
<!-- 						value="select  organization.org_id  as value, organization.name as label from organization where organization.sts ='A'" /> -->
<!-- 					<property name="cacheType" value="ID_VALUE" /> -->
<!-- 					<property name="configuration"> -->
<!-- 						<bean class="net.sf.ehcache.config.CacheConfiguration"> -->
<!-- 							<property name="maxElementsInMemory" value="10000" /> -->
<!-- 							<property name="eternal" value="false" /> -->
<!-- 							<property name="overflowToDisk" value="false" /> -->
<!-- 						</bean> -->
<!-- 					</property> -->
<!-- 				</bean>  -->
			</list>
		</property>
	</bean>
</beans>
